
 <%= form_with model: @booking, data:{ controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, url: bookings_path do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>

 <template data-nested-form-target="template">
    <%= f.fields_for :passengers, Passenger.new, child_index: 'NEW_RECORD' do |passenger_fields| %>
      <%= render "passenger_form", f: passenger_fields %>
    <% end %>
  </template>




   <%= f.fields_for :passengers do |passenger_fields| %>
    <%= render "passenger_form", f: passenger_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">Add passenger</button>

 <%= f.submit 'submit' %>
<% end %>
